

.jp-controls {
	position: relative;
}

 .jp-time-holder {
	color:#fff;
	position: absolute;
	right: 20px;
	top: 0;
	font-weight: 700;
	font-size: 10px;
 }

.tr-audio-player .jp-previous {
    background-image: url(../images/others/play-prev.png);
}

.tr-audio-player .jp-play {
    background-image: url(../images/others/play.png);
}

.tr-audio-player .jp-next {
    background-image: url(../images/others/play-next.png);
}

.jp-artist {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.jp-title {
	font-size: 18px;
	font-weight: 700;
	display: block;
}

.jp-interface {
	position: relative;
	width: 100%;
}

.info-wrapper {
	position: absolute;
	bottom: 55px;
	left: 0;
	width: 100%;
	padding: 0 15px;
}

.jp-progress {
	width: 90%;
	margin-top:70px;
	display: inline-block;
	border-radius: 15px;
	overflow: hidden;
 }

.jp-seek-bar {
	background-color: rgba(255, 255, 255, 0.3);
	height: 3px;
	cursor: pointer;
	border-radius: 15px;
  }

.jp-play-bar {
	background-color: #ed1c24;
	width: 0px;
	height: 100%;
	position:relative;
	border-radius: 15px;
 }

.jp-controls button {
	display:inline-block;
	border: none;
	cursor: pointer;
	position:relative;
	background-color:transparent;
 }

.jp-play {
	margin-left:25px ;
	margin-right:20px ;
 }


#audio-player .jp-playlist .jp-playlist-item {
	display:none;
	color:#fff;
	font-size:14px;
	line-height:17px;
}

#audio-player .jp-playlist .jp-playlist-item.jp-playlist-current {
	display: inline-block;
}

#audio-player .jp-playlist .jp-playlist-item:hover {
	color:#ff0000;
}

/* volume-controls */

.jp-volume-controls {
	width:50px;
	height:3px;
	cursor:pointer;
	position: absolute;
	left: 0;
	top: 0;
}

.jp-volume-controls button {
	cursor: pointer;
	background-color: transparent;
	border:none;
 }

.jp-volume-bar {
	height: 3px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	width: 60%;
	top: 6px;
	left: 40px;
}

.jp-volume-bar-value {
	background-color:#fff;
	width:0px;
	height:3px;
}

.jp-volume-max {
	width: 19px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 20px;
}

.jp-play {
	background: url("../images/player/play.png") 0 0 no-repeat;
	margin:0 15px;
 }


.jp-state-playing .jp-play {
  background: url("../images/others/pause.png") 0 0 no-repeat;

 }

.jp-previous {
  background: url("../images/player/play-prev.png") 0 0 no-repeat;
 }


.jp-next {
	background: url("../images/player/play-next.png") 0 0 no-repeat;
 }

.jp-volume-max {
	background: url("../images/others/6.png") 0 0 no-repeat;
}

.jp-stop,
.jp-previous,
.jp-next,
.jp-play  {
	width: 20px;
	height: 20px;
}
