/*
	Template Name: Newshub
    Template URL: http://demo.themeregion.com/Newshub
	Author: Theme Region
	Author URI : http://www.themeregion.com/
    Version: 1.0
    Description: HTML5 Responsive Classifieds Template.
	Tag: HTML5, CSS3, jQuery, Responsive Template.
*/


/* Table of Contents
==================================================
# Global
# Tr Memu
# Topbar
# Home Slider
# Photo Gallery
# Tr Weather
# Local Events
# Tr Twitter
# Tr Details
# Tr Comment
# Contact Form
# Tr Audio Player
# Trending News
# Tr Post Tab
# Tr Stock Quotes
# Post Video List
# Tr About
# Tr Breaking News
# Tr Contact

==================================================

*/

/* ==========================================================================
 	Global
 ========================================================================== */

html,
body {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
	background-color: #f0f3f5;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:700;
	font-family: 'Roboto', sans-serif;
}

.tr-menu ul,
.tr-topbar ul,
.tr-section ul,
.quotes-content ul,
#footer .widget ul,
.entry-meta ul,
.tr-live-score ul,
.tr-widget ul,
.tr-weather ul,
.tr-post ul,
.feed ul,
.small-post-list,
.tr-audio-player ul,
.tr-comment ul {
	margin:0;
	padding:0;
    list-style:none;
}

a {
	font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:focus,
input:focus {
	text-decoration:none;
	outline: none;
}

a:hover {
	color: #ff0000;
}

a:active,
a:focus, button:focus, .btn:focus,
input:focus, textarea:focus, select:focus,
.form-control, .form-control:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

.tr-section {
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}

.tr-post {
	position: relative;
}

.tr-section.bg-transparent {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0;
}

.bg-transparent .tr-post,
.photo-gallery,
.latest-result {
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}

.entry-header {
	position: relative;
	overflow: hidden;
}

.tr-post .entry-header img {
	width: 100%;
}

.entry-header:before {
	position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
    opacity: 0;
}

.tr-post:hover .entry-header:before,
.small-post-list li:hover .entry-header:before  {
    opacity: 1;
    z-index: 1;
    -webkit-animation: fadeOutDown .9s both;
    -moz-animation: fadeOutDown .9s both;
    -o-animation: fadeOutDown .9s both;
    animation: fadeOutDown .9s both;
}

.tr-post.post-header-absolute .entry-header:before,
.tr-watch-now .tr-post .entry-header:before,
.tr-watch-now .small-post-list .entry-header:before,
.video-post .tr-post .entry-header:before,
.tr-video-post .entry-header:before,
.detailspage .entry-header:before,
.tr-post.tr-video-post .entry-header:before {
	display: none;
}

.main-wrapper.tr-page-top {
	margin-top: 20px;
}

.section-title h1 {
	font-size: 16px;
	margin: 0 0 30px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}

.section-title h1 span {
	background-color: #f0f3f5;
	padding-right: 15px;
}

.section-title h1 a {
	color: #000;
}

.section-title h1 a:hover {
	color: #ff0000;
}

.section-title h1 span:after {
	position: absolute;
	content: "";
	top: 50%;
	margin-top: -3px;
	right: 0;
	width: 100%;
	height: 3px;
	z-index: -1;
	background-color: #e6e7e8;
}

.widget-title span {
	font-size: 12px;
	text-transform: uppercase;
	margin: 0 0 15px;
	font-weight: 700;
	display: block;
}

.ad-before,
.tr-before,
.tr-after {
	position: relative;
}

.ad-before:after {
	position: absolute;
	content: "AD";
	right: 0;
    top: 2px;
    width: 25px;
    height: 20px;
    padding: 5px;
	font-size: 10px;
	color: #868686;
	background-color: #fff;
	font-weight: 500;
}

.tr-before:before{
	position: absolute;
	content: "";
	top: 0;
	left: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.tr-after:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 25px;
    height: 1px;
    z-index: 1;
    background-color: #fb1d15;
}

.tr-ad {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
}

.tr-ad img,
.entry-thumbnail img {
	width: 100%;
}

.tr-ad.ad-bottom {
	margin: 50px 0 0;
}

.tr-ad.ad-image img {
	width: inherit;
	display: inline-block;
}

.homepage-1 .section-title {
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #fff;
	border-radius: 5px;
	padding: 8px 15px 5px;
}

.homepage-1 .section-title h1 {
	margin: 6px 0 0;
	float: left;
	font-size: 12px;
}

.homepage-1 .section-title .icon {
	float: left;
	font-size: 18px;
	margin-right: 10px;
}

.tr-home-slider .post-content .continue-reading a,
.continue-reading a  {
	font-size: 12px;
	color: #afb1b2;
	text-transform: uppercase;
}

.continue-reading i {
	font-size: 18px;
	margin-left: 10px;
	float: right;
	margin-top: 3px;
}

.feed li {
	float: left;
	color: #d4d6d7;
}

.feed li a,
.item .post-content .feed li a {
	color: #d4d6d7;
	padding: 5px;
}

.item .post-content .feed li a:hover,
.feed li a:hover {
	color: inherit;
}

.read-more {
	margin-top: 25px;
	overflow: hidden;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.tr-pixed-top {
	position: absolute;
	top: 30px;
	width: 100%;
	z-index: 9999;
}

.tr-padding-0 .col-sm-6,
.tr-padding-0 .col-sm-5,
.tr-padding-0 .col-md-6,
.tr-padding-0 .col-sm-5,
.tr-padding-0 .col-sm-7,
.tr-padding-0 .col-sm-12,
.tr-padding-0 .tr-ad,
.tr-padding-0 .row {
	padding: 0;
	border-radius: 0;
	margin: 0;
}

.catagory-list {
	padding: 10px 0;
}

.catagory-list .title {
	font-size: 12px;
	color: #010101;
	font-weight: 700;
	text-transform: uppercase;
}

.catagory-list ul li {
	line-height: 40px;
}

.catagory-list ul li a {
	font-size: 14px;
	color: #696969;
	font-weight: 500;
	text-transform: uppercase;
}

.catagory-list ul li i {
	margin-right: 30px;
	color: #010101;
}

.catagory-list ul li a:hover i,
.catagory-list ul li a:hover {
	color: #ff0000;
}

.catagory-list .player {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	overflow: hidden;
	display: block;
	float: left;
	margin-top: 10px;
	margin-right: 30px;
}

.tr-breadcrumb {
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #fff;
	padding: 25px 30px;
	border-radius: 5px;
}

.tr-breadcrumb .title h1 {
	font-size: 36px;
	color: #e81a1b;
	margin: 0;
}

.tr-breadcrumb .breadcrumb {
	margin-bottom: 0;
	background-color: transparent;
}

.tr-breadcrumb .breadcrumb li,
.tr-breadcrumb .breadcrumb li a {
	color: #afb1b2;
	font-size: 14px;
}

.tr-breadcrumb .breadcrumb li a:hover {
	color: #ff0000;
}

.post-padding {
	padding: 30px 20px 25px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.tr-box-shadow {
	padding: 0;
	-webkit-box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, 0.100);
	-moz-box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, 0.100);
	-ms-box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, 0.100);
	-o-box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, 0.100);
	box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, 0.100);
}

.tr-box-shadow:hover {
	box-shadow: none;
}

.homepage-3 {
	background-color: #fff;
}


/* ==========================================================================
 	Tr Memu
 ========================================================================== */

.tr-menu.sidebar-menu .navbar-default {
	background-color: #fff;
	border-radius: 5px;
	padding: 25px 10px;
}

.homepage-1 .sidebar-menu .navbar-default {
	padding-top: 15px;
}

.tr-menu.sidebar-menu {
	padding: 0;
	margin-bottom: 30px;
}

.tr-menu .navbar-default {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin-bottom: 0;
	background-color: transparent;
}

.tr-menu .navbar-nav>li>a {
	font-weight: 700;
	padding: 20px 0;
}

.tr-menu .navbar-nav>li {
	margin-right: 25px;
}

.tr-menu .navbar-nav>li:last-child {
	margin-right: 0;
}

.tr-sidebar {
	min-height: 20px;
}

.tr-menu .navbar-header {
	float: none;
}

.navbar-brand {
	margin: 2px 0 0;
	padding: 10px 15px;
	height: inherit;
}

.topbar-width-container .navbar-brand {
	padding: 10px 0;
}

.tr-menu .navbar-brand {
	margin-bottom: 10px;
	padding: 5px 15px;
}

.tr-menu.sidebar-menu .navbar-default li,
span.discover {
	text-transform: uppercase;
	font-size: 14px;
	color: #010101;
	font-weight: 700;
	float: none;
	margin-right: 0;
	display: block;
}

span.discover {
	margin-top: 10px;
}

.sidebar-menu .navbar-nav {
	float: none;
	margin: 0;
	padding-bottom: 15px;
}

.sidebar-menu .navbar-nav>li {
	margin: 30px 0;
	display: block;
}

.sidebar-menu .navbar-nav>li:last-child {
	margin-bottom: 0;
}

.sidebar-menu .navbar-nav>li>a {
	line-height: 0;
	padding: 5px 0;
	display: block;
}

.tr-menu .navbar-nav li a {
	font-size: 14px;
	display: block;
	font-weight: 500;
	color: #696969;
	text-transform: uppercase;
}

.sidebar-menu .navbar-nav li a i {
	color: #010101;
	margin-right: 30px;
}

.tr-menu li.active>a,
.tr-menu li.active a i,
.tr-menu li a:hover,
.tr-menu .navbar-nav li a:focus,
.tr-menu li a:hover i,
.tr-menu .navbar-nav>li>a:hover,
.tr-menu .navbar-nav>li>a:focus,
.tr-menu .navbar-nav>li.active>a:focus,
.tr-menu .navbar-nav>li.active>a,
.tr-menu .navbar-nav>.active>a:hover,
.tr-menu .navbar-nav li a:focus i,
.tr-menu li.active .sub-menu li a:hover,
.tr-menu li.active .sub-menu li.active>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.tr-menu.menu-style-two .navbar-nav li a:hover,
.tr-menu.menu-style-two .navbar-nav li.active,
.tr-menu.menu-style-two .navbar-nav li.active>a,
.tr-menu.sidebar-menu ul.sub-menu li a:hover,
.tr-menu.sidebar-menu ul.sub-menu li.active>a {
	color: #ff0000;
	background-color: transparent;
}

/* Navbar Toggle */

.tr-menu .navbar-toggle {
	border-color: #ff0000;
}

.tr-menu .navbar-toggle .icon-bar {
	background-color: #ff0000;
}

.tr-menu .navbar-toggle:focus,
.tr-menu .navbar-toggle:hover {
	background-color: transparent;
}

.toggle-white.navbar-toggle {
	border-color: #fff;
}

.toggle-white.navbar-toggle .icon-bar {
	background-color: #fff;
}

.toggle-white.navbar-toggle:focus,
.toggle-white.navbar-toggle:hover {
	background-color: transparent;
}

.tr-menu .feed  {
	margin-right: 15px;
	padding: 20px 0;
}

.tr-menu .navbar-default .feed li a i {
	margin-right: 0;
}

.tr-menu .navbar-default .feed li a {
	transition: inherit;
	color: #696969;
}

ul.sub-menu,
ul.sub-menu .sub-menu-2 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 180px;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -ms-transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    visibility: hidden;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    transition: transform 0.3s, opacity 0.3s;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-ms-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-o-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown:hover .sub-menu,
.topbar-right .user:hover .sub-menu,
ul.sub-menu li:hover .sub-menu-2 {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

ul.sub-menu .sub-menu-2 {
    left: 100%;
    top: 0;
}

.sub-menu i {
	margin-right: 10px;
}

.tr-menu .sub-menu li a,
.sub-menu li a {
	padding: 10px 20px;
    border-top: 1px solid #f0f3f5;
	display: block;
	color: #696969;
	font-size: 12px;
}

.sub-menu li a:hover,
.sub-menu li.active a,
.sub-menu li a:focus {
	background-color: #f6f8f9 !important;
}

.sub-menu li a:hover,
.topbar-right .user a:hover,
.search-icon:hover,
.sub-menu li a:focus,
.topbar-right a:hover {
	color:#ff0000;
}

.user .user-dropdown i {
	margin-left: 10px;
}

.tr-menu.sidebar-menu .sub-menu {
	min-width: 180px;
}


/* Sidebar Menu Two */

.homepage-1 span.discover {
	font-size: 12px;
	position: relative;
	display: block;
	margin: 0 0 10px;
}

.homepage-1 span.discover:after {
	position: absolute;
	content: "";
	bottom: -10px;
	left: -50%;
	width: 200%;
	height: 1px;
	background-color: #f2f2f2;
}

.homepage-1 .sub-menu {
	border-top-color: #7a559f;
}

.homepage-1 .navbar-default li.active .sub-menu li a {
	color: #696969;
}

.tr-menu.sidebar-menu-two .navbar-default li.active a,
.tr-menu.sidebar-menu-two .navbar-default li.active a i,
.tr-menu.sidebar-menu-two .navbar-default li a:hover,
.tr-menu.sidebar-menu-two .navbar-default li a:focus,
.tr-menu.sidebar-menu-two .navbar-default li a:focus i,
.tr-menu.sidebar-menu-two .navbar-default li a:hover i,
.tr-menu.sidebar-menu-two .navbar-default li .sub-menu li a:hover,
.tr-menu.sidebar-menu-two .navbar-default li.active .sub-menu li a:hover,
.tr-menu.sidebar-menu-two .navbar-default li.active .sub-menu li a:focus,
.tr-menu.sidebar-menu-two .navbar-default li.active .sub-menu li.active a,
.homepage-1 #footer a:hover,
.homepage-1 .copyright a:hover {
	color: #7a559f;
}

.homepage-1 .section-title h1 a:hover,
.homepage-1 .entry-meta a:hover,
.homepage-1 .medium-post-list .tr-post .catagory a:hover,
.homepage-1 #photo-gallery h2 a:hover,
.homepage-1 .entry-title a:hover {
	color: #7a559f;
}


/* Menu Style Two */

.tr-menu.menu-style-two,
.tr-menu.menu-style-two ul.sub-menu .sub-menu-2,
.tr-menu.menu-style-two ul.sub-menu {
	background-color: rgba(0, 0, 0, 0.2);
}

.tr-menu.menu-style-two .navbar-nav>li>a,
.tr-menu.menu-style-two ul.sub-menu li a,
.tr-menu.menu-style-two .feed li a {
	color: #fff;
}


/* Tr Topbar */

.tr-topbar {
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: #fff;
	position: relative;
}

.tr-topbar .topbar-left {
	float: left;
	width: 58%;
	overflow: hidden;
}

.tr-topbar .topbar-right {
	text-align: right;
    border-left: 1px solid #f0f3f5;
    width: 42%;
    float: right;
}

.topbar-width-container .topbar-left,
.topbar-width-container .topbar-right {
	width: 50%;
}

.breaking-news {
	overflow: hidden;
	border-radius: 5px 0 0 5px;
}

.breaking-news span {
	float: left;
	font-size: 14px;
	color: #afb1b2;
	z-index: 1;
	padding: 15px 20px;
	border-right: 1px solid #f0f3f5;
	background-color: #fff;
	font-weight: 500;
}

#ticker {
	overflow: hidden;
	padding: 15px 0;
}

#ticker ul {
	position:relative;
	width:10000px;
}

#ticker li {
	float: left;
	margin: 0 40px 0 0;
	position: relative;
}

#ticker li a {
	font-size: 12px;
	color: #000;
	font-weight: 500;
}

#ticker li a:hover {
	color: #ff0000;
}

#ticker li:before {
	position: absolute;
	content: "";
	top: 7px;
	left: -15px;
	width: 6px;
	height: 6px;
	background-color: #ff0000;
	border-radius: 100%;
}

.topbar-right .user,
.user-image,
.user-image img,
.user .user-dropdown {
	display: inline-block;
}

.topbar-right .user-image {
	margin-right: 10px;
}

.topbar-right .user {
	padding: 8px 15px;
	position: relative;
}

.user .dropdown {
	position: static;
	text-align: left;
}

.topbar-right .user a {
	color: #010101;
	font-weight: 700;
}

.tr-topbar .sub-menu  {
	min-width: 100%;
}

.topbar-right .sub-menu a {
	font-size: 14px;
	font-weight: 400;
}

.searchNlogin {
	float:right;
	position:relative;
}

.searchNlogin>ul>li {
	float: left;
	border-left:1px solid #f0f3f5;
	padding: 14px;
	font-size: 16px;
}

.searchNlogin li a,
.searchNlogin .sub-menu a {
	color: #c8cacc;
	display: block;
	text-transform: uppercase;
	font-weight: 300;
}

.language-dropdown i {
	margin-left: 5px;
}

.search-icon {
	cursor: pointer;
	color: #c8cacc;
	font-size: 16px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.search {
	position: absolute;
	top: 0;
	z-index: 99;
	right: 193px;
	width: 0;
	opacity:0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.expanded .search {
	opacity:1;
	width: 250px;
}

.search-form {
	padding-left: 0;
	height: 50px;
	font-size: 14px;
	outline: none;
	width: 100%;
	color: #000;
	border: 1px solid #fff;
	background-color:#f0f3f5;
	border-right: 0;
}

.expanded .search-form {
	padding-left: 15px;
}

.expanded .search-icon {
	background-color:#f2f3f5;
	border-left-color:#fff;
	color:#ff0000;
	position: relative;
}

.expanded .search-icon:before,
.expanded .search-icon:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	left: 0;
	background-color: #fff;
}

.expanded .search-icon:before {
	top: 0;
}

.expanded .search-icon:after {
	bottom: 0;
}


/* Topbar Two */

.topbar-bg-color-1,
.topbar-bg-color-1 .topbar-right {
	background-color: #7a559f;
	border-radius: 0;
}

.topbar-bg-color-1 .breaking-news span {
	background-color: #7a559f;
	border-right: 1px solid #62447f;
	color: #fff;
}

.topbar-bg-color-1 #ticker li a,
.topbar-bg-color-1 .topbar-right .user,
.topbar-bg-color-1 .topbar-right .user a,
.topbar-bg-color-1 .searchNlogin li a,
.topbar-bg-color-1 .search-icon {
	color: #fff;
}

.topbar-bg-color-1 #ticker li:before {
	background-color: #fff;
}

.topbar-bg-color-1 .searchNlogin li,
.topbar-bg-color-1 .topbar-right {
	border-left-color: #62447f;
}

.topbar-bg-color-1 .topbar-right {
	border-left-color: #62447f;
}

.topbar-bg-color-1 .topbar-left {
	border-right-color: #62447f;
}

.topbar-bg-color-1 .topbar-right .sub-menu {
	background-color: #7a559f;
}

.topbar-bg-color-1 .sub-menu li a:hover,
.topbar-bg-color-1 .searchNlogin.expanded .search-icon {
	color: #7a559f;
}

.topbar-bg-color-1 .searchNlogin li:hover {
	color: #fff;
}


/* Topbar Style Three */

.topbar-bg-color-2  {
	color: #fff;
	background-color: #303233;
}

.topbar-bg-color-2 a,
.topbar-bg-color-2 .user a,
.topbar-bg-color-2 .search-icon,
.topbar-bg-color-2 .searchNlogin li a,
.topbar-bg-color-2 #ticker li a,
.topbar-bg-color-2 .user-dropdown>a:hover,
.topbar-bg-color-2 .searchNlogin .search-icon:hover {
	color: #fff;
}

.topbar-bg-color-2 .breaking-news span {
	background-color: transparent;
	color: #fff;
}

.topbar-bg-color-2 .sub-menu {
	border-top-color: #fff;
	background-color: #303233;
}

.topbar-bg-color-2 .topbar-right,
.topbar-bg-color-2 .searchNlogin li {
	border-left-color: #444647;
}

.topbar-bg-color-2 .breaking-news span {
	border-right-color: #444647;
}

.topbar-bg-color-2 .searchNlogin.expanded .search-icon,
.topbar-bg-color-2 .sub-menu li a:hover  {
	color: #303233;
}


/* Topbar Style Four */

.topbar-two {
	text-align: center;
	background-color: #e81a1b;
	border-radius: 5px 5px 0 0;
}

.topbar-two>ul>li {
	display: inline-block;
}

.topbar-two .pull-left>ul {
	float: left;
	margin-top: 15px;
}

.topbar-two .navbar-brand {
	margin: 0;
	padding: 9px 15px;
}

.topbar-two .searchNlogin li {
	border-left-color: #ba1516;
}

.topbar-two .searchNlogin li a,
.topbar-two .search-icon,
.topbar-two .search-icon:hover,
.topbar-two .feed a {
	color: #fff;
}

.topbar-two .sub-menu {
	background-color: #e81a1b;
	border-color: #fff;
}

.topbar-two .expanded .search-icon,
.topbar-two .sub-menu li a:hover {
	color: #e81a1b;
}

/* Home Slider */

.tr-home-slider .carousel-indicators {
	position: absolute;
	left: auto;
	right: 0;
	width: 30%;
	height: 100%;
	color: #fff;
	top: 0;
	margin-left: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

.tr-home-slider .carousel-indicators li {
	width: 100%;
	height: 25%;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #4d4d4d;
	text-indent: 0;
	text-align: left;
	margin: 0;
	padding:25px;
	display: block;
}

.tr-home-slider .carousel-indicators li:last-child {
	border-bottom: 0;
}

.tr-home-slider .carousel-indicators li span {
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
}

.tr-home-slider .item {
	min-height:500px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}

.tr-home-slider .catagory,
.post-content .catagory {
	text-transform: uppercase;
	font-size: 10px;
}

.tr-home-slider .catagory a:hover,
.slider-style-three .catagory a:hover {
	color: #d4d0d0;
}

.tr-home-slider .carousel-indicators li .catagory {
	font-size: 10px;
}

.tr-home-slider .carousel-indicators li:hover,
.tr-home-slider .carousel-indicators li.active {
	background-color: rgba(232, 26, 27, 0.80);
}

.tr-home-slider .post-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 70%;
	color: #fff;
	padding: 25px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 11%, rgba(0,0,0,0.19) 24%, rgba(0,0,0,0.69) 64%, rgba(0,0,0,0.85) 79%, rgba(0,0,0,0.97) 93%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%);
}

.carousel .post-content .catagory {
  animation-delay: 1s;
  -webkit-animation-delay:1s;
}

.carousel .post-content h2 {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}

.carousel .post-content .entry-meta,
.carousel .item .post-content p {
  animation-delay: 1s;
  -webkit-animation-delay:1s;
}

.carousel .item .read-more {
  animation-delay: 1.5s;
  -webkit-animation-delay:1.5s;
}

.item .post-content a {
	color: #fff;
}

.post-content a:hover,
.item .entry-meta a:hover {
	color: #ff0000;
}

.entry-meta {
	overflow: hidden;
	margin-bottom: 10px;
}

.entry-meta,
.entry-meta a,
.item .entry-meta li,
.item .entry-meta a {
	font-size: 12px;
	color: #afb1b2;
	font-weight: 500;
}

.entry-meta li ul li a {
	padding: 5px;
}

.item .entry-meta {
	margin-bottom: 10px;
	color: #fff;
}

.item .entry-title {
	margin: 10px 0;
	font-size: 30px;
}

.entry-title {
	margin: 0 0 10px;
	font-size: 20px;
	color: #000;
}

.entry-title a {
	color: #000;
}

.entry-meta ul li {
	float: left;
}

.entry-meta>ul>li {
	margin-right: 30px;
	position: relative;
}

.entry-meta>ul>li:last-child {
	margin-right: 0;
}

.entry-meta>ul>li+li:before {
	position: absolute;
	content: "";
    top: 50%;
    left: -15px;
	width: 5px;
	height: 5px;
	margin-top: -3px;
	border-radius: 100%;
	background-color: #c8cacc;
}

.entry-meta li ul li:first-child {
	margin-right: 10px;
}

.entry-meta li ul li a:hover {
	color: inherit;
}

a:hover i.fa-facebook,
.navbar-default .feed li a:hover i.fa-facebook {
	color: #3b5998;
}

a:hover i.fa-twitter,
.navbar-default .feed li a:hover i.fa-twitter {
	color: #00aced;
}

a:hover i.fa-google-plus,
.navbar-default .feed li a:hover i.fa-google-plus {
	color: #CA3E27;
}

a:hover i.fa-rss,
.navbar-default .feed li a:hover i.fa-rss {
	color: #ee802f;
}

.medium-post .gallery-turner {
	width: 100%;
	right: 0;
	bottom: 57%;
}

.medium-post .gallery-turner a {
	color: #fff;
}

.medium-post .gallery-turner a:hover {
	color: #ff0000;
}

.medium-post .right-photo,
.medium-post .left-photo {
	position: absolute;
}

.medium-post .left-photo {
	left: -100%;
}

.medium-post .right-photo {
	right: -100%;
}

.medium-post:hover .left-photo {
	left: 5px;
}

.medium-post:hover .right-photo {
	right: 5px;
}

.tr-section .tr-post .post-content {
	font-size: 14px;
	color: #88898a;
	line-height: 24px;
	margin-top: 20px;
}



/* Slider Style Two */

.tr-home-slider.slider-style-two {
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
}

.item-image-content {
	width: 50%;
	float: left;
	padding: 15px;
}

.slider-style-two .item-image {
	height: 410px;
	border-radius: 3px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slider-style-two .item {
	min-height: 430px;
}

.slider-style-two .item .post-content {
	position: static;
	background: transparent;
	float: right;
	width: 50%;
	font-size: 14px;
	line-height: 24px;
	color: #88898a;
	padding: 35px 15px;
}

.slider-style-two .post-content,
.slider-style-two .carousel-indicators li span,
.slider-style-two .item .entry-title a,
.tr-home-slider.slider-style-two .catagory a {
	color: #000;
}

.tr-home-slider .catagory a {
	color: #fff;
}

.slider-style-two .item .post-content a:hover {
	color: #ff0000;
}

.slider-style-two .carousel-indicators {
	width: 24%;
	border-left: 1px solid #f0f3f5;
}

.slider-style-two .item-content {
	width: 76%;
}

.slider-style-two .carousel-indicators li {
	background-color: #fff;
	border-bottom-color: #f0f3f5;
	padding: 18px 25px;
}

.slider-style-two .carousel-indicators li:hover,
.slider-style-two .carousel-indicators li.active {
	background-color: #f7f9fb;
}

.slider-style-two .entry-title {
	font-size: 36px;
	font-weight: 500;
	position: relative;
	margin-bottom: 50px;
	margin-top: 0;
}

.slider-style-two .entry-title:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -25px;
	width: 65px;
	height: 2px;
	background-color: #c8cacc;
}

.slider-style-two .item .entry-meta li,
.slider-style-two .item .entry-meta a {
	color: #afb1b2;
}

.slider-style-two .item .entry-meta {
	margin-bottom: 15px;
}

.slider-style-two .read-more {
	margin-top: 55px;
}

.slider-style-two .feed li:first-child {
	margin-right: 10px;
}



/* Slider Style Three */

.slider-style-three .item,
.slider-style-three .container {
	min-height: 800px;
	background-size: cover;
	background-position: center;
}

.slider-style-three .container {
	position: relative;
}

.slider-overlay{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 11%, rgba(0,0,0,0.19) 24%, rgba(0,0,0,0.69) 64%, rgba(0,0,0,0.85) 79%, rgba(0,0,0,0.97) 93%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%);
}

.slider-style-three .post-content {
	position: absolute;
	bottom: 85px;
}

.slider-style-three .entry-meta li,
.slider-style-three .entry-meta a {
	color: #fff;
}

.slider-style-three .carousel-indicators li,
.slider-style-three .carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 2px;
}

/* Slider style four */

.slider-style-four .item-content {
	min-height: 635px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slider-style-four .post-content {
	width: 100%;
}

.embed-responsive-item {
	width: 100%;
	height: 100%;
	border: 0;
}

.slider-style-four .catagory {
	width: 100%;
	display: block;
	font-size: 14px;
	padding-bottom: 15px;
	text-transform: capitalize;
	border-bottom: 1px solid #e8e9e9;
}

.slider-style-four .tr-after:after {
	bottom: -1px;
}

.slider-style-four .entry-meta>ul>li+li:before {
	display: none;
}

.slider-style-four .entry-meta li,
.slider-style-four .entry-meta li a,
.slider-style-four .entry-meta li a:hover {
	color: #fff;
}

.slider-style-four .entry-meta img {
	display: inline-block;
	margin-right: 10px;
	margin-top: -2px;
}

.slider-style-four .gallery-turner {
	right: 25px;
	bottom: 27%;
}

.slider-style-four .gallery-turner a {
	color: #88898a;
}

.slider-style-four .gallery-turner a:hover {
	color: #fff;
}

.slider-style-four .gallery-turner .left-photo {
	margin-right: 10px;
}


/* Business */

.sports-section,
.business-section {
	overflow: hidden;
}

.entry-thumbnail {
	z-index: -1;
}

.post-content .author {
	width: 55px;
	margin-top: -45px;
	margin-left: 15px;
	margin-bottom: 5px;
	position: relative;
	z-index: 1;
}

.post-content .author img {
	width: 50px;
	height: 50px;
	border: 5px solid #fff;
}

.tr-post:hover .post-content .author img {
	border-color: #f0f3f5;
}


/* Sports */

.latest-result-content {
	background-color: #f7fafc;
	font-weight: 500;
	padding: 40px;
}

.latest-result-content img,
.featured-result img {
	display: inline-block;
}

.latest-result-content .score {
	font-size: 36px;
	margin: 30px 0 5px;
	font-weight: 400;
}

.latest-result-content .over {
	font-size: 14px;
	margin-bottom: 20px;
	display: block;
}

.featured-result {
	background-image: url(../images/post/sports/featured-result-bg.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-color:#2f5088;
	color:#fff;
	text-align:center;
	padding:63px 20px;
	font-weight: 500;
}

.football-result ul li+li:before {
	display: none;
}

.football-result .entry-meta li ul li:first-child {
	margin-right: 0;
}

.featured-result h2{
	margin-top:0;
	margin-bottom:20px;
	font-size:14px;
	text-transform:uppercase;
}

.featured-result .verses {
	font-size:24px;
	text-transform:uppercase;
	display:block;
	margin-bottom:15px;
}

.featured-result .match-result {
	font-size:24px;
	display: block;
	margin-top: 5px;
}

.league-result h2 {
	font-size: 12px;
	color: #010101;
	text-align: left;
	margin: 5px 0 10px;
	text-transform: uppercase;
}

.league-result>ul>li {
	border-bottom:1px solid #f2f3f5;
	padding:20px 15px;
	overflow: hidden;
	margin: 0 -15px;
}

.league-result li ul li {
	float: left;
	width: 33.3%;
}

.league-result li ul li .pull-left {
	text-align: left;
}

.league-result li ul li .pull-right {
	text-align: right;
}

.league-result ul li:last-child {
	border-bottom: none;
}

.league-result img {
	display:inline-block;
	margin-top:-3px;
}

.league-result span {
	font-size:16px;
	text-transform:uppercase;
	margin-top:5px;
	font-family: 'Signika Negative', sans-serif;
}


/* Photo Gallery */

.gallery-indicators {
	position: static;
	width: 100%;
	margin-left: 0;
	left: 15px;
	text-align: left;
	margin-bottom: 0;
}

#photo-gallery img {
	width: 100%;
}

#photo-gallery h2 {
	margin: 20px 0;
	line-height: 24px;
}

.gallery-turner {
    position: absolute;
    right: 15px;
    bottom: 25px;
    font-size: 25px;
    z-index: 50;
}

.gallery-turner a {
	color: #cecece;
}

.gallery-indicators li,
.gallery-indicators li.active {
	width: 34px;
	height: 34px;
	border: none;
	margin: 2px;
	border-radius: 3px;
	overflow: hidden;
}

#photo-gallery h2 a {
	font-size: 18px;
	color: #000;
	font-weight: 500;
}

#photo-gallery a:hover {
	color: #ff0000;
}

.gallery-indicators li img {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}

.gallery-indicators li:hover img,
.gallery-indicators li.active img {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}


/* Photo Gallery Two */

.photo-gallery-two .gallery-indicators li,
.photo-gallery-two .gallery-indicators li.active {
	width: 40px;
	height: 40px;
}

.photo-gallery-two .gallery-indicators {
	text-align: center;
}

.photo-gallery-two .gallery-turner {
	width: 100%;
	left: 0;
}

.photo-gallery-two .left-photo,
.photo-gallery-two .right-photo {
	position: absolute;
	bottom: 0;
}

.photo-gallery-two .left-photo {
	left: 15px;
}

.photo-gallery-two .right-photo {
	right: 15px;
}

.photo-gallery-two #photo-gallery a:hover {
	color: #7a559f;
}

/* Post List */

.medium-post-list li {
	margin-bottom: 25px;
}

.medium-post-list .entry-thumbnail {
	border-radius: 3px;
	overflow: hidden;
}

.medium-post-list .entry-thumbnail img {
	width: 100%;
}

.medium-post-list .tr-post .catagory a,
.medium-post-list .catagory span {
	text-transform: uppercase;
	font-size: 12px;
	color: #babcc2;
	display: block;
	margin-top: 10px;
}

.medium-post-list .tr-post .catagory a:hover {
	color: #ff0000;
}

.medium-post-list .entry-title {
	font-size: 16px;
	font-weight: 500;
}

.medium-post-list .tr-post .post-content {
	margin-top: 0;
}


/* Tr Weather */

.tr-weather {
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
}

.weather-top {
	color: #fff;
	padding: 20px;
	overflow: hidden;
	background-color: #00a4ed;
	font-weight: 500;
}

.weather-temp {
	display: block;
	font-size: 48px;
	line-height: 45px;
	margin-bottom: 10px;
	font-weight: 100;
}

.weather-temp sup {
	font-size: 24px;
	margin-left: -20px;
}

.weather-temp sup span {
	font-weight: 700;
}

.weather-type {
	font-size: 15px;
	font-weight: 300;
	display: block;
}

.weather-region {
	margin-right: 10px;
}

.weather-top ul {
	margin-top: 20px;
}

.weather-top ul li {
	float: left;
	background-position: left center;
	background-repeat: no-repeat;
	margin-right: 18px;
}

.weather-top ul li:last-child {
	margin-right: 0;
}

.weather-top ul li img {
	display: inline-block;
	margin-right: 10px;
}

.weather-bottom li {
	width: 50%;
	float: left;
	padding: 30px 20px 25px;
	font-weight: 500;
}

.homepage-1 .weather-bottom li {
	padding: 30px 10px 25px;
}

.weather-bottom li+li {
	border-left: 1px solid #f2f3f5;
}

.weather-icon {
	float: left;
	margin-right: 10px;
}

.weather-info {
	display: inline-block;
	font-size: 28px;
	color: #aaa;
}

.weather-info .date {
	display: block;
	font-size: 12px;
	line-height: 10px;
}


/* Style Two */

.tr-weather.style-two .weather-top {
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid #f2f3f5;
}

.tr-weather.style-two .weather-top ul li {
	float: none;
	display: inline-block;
}

.tr-weather.style-two .weather-image img {
	display: inline-block;
	margin-bottom: 5px;
}

.tr-weather.style-two .weather-image span {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #b4b4b4;
	font-weight: 700;
	text-transform: uppercase;
}

.tr-weather.style-two .weather-temp {
	font-size: 60px;
	color: #525b6e;
	margin-top: 15px;
	font-family: 'Raleway', sans-serif;
}

.tr-weather.style-two .weather-temp span {
	color: #f26522;
}

.tr-weather.style-two .weather-time {
	display: block;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.match-category {
	color: #999;
	font-size: 14px;
}

.match-category span {
	display: block;
}

.category-logo {
	margin-bottom: 35px;
}


/* Meta Tab */

.meta-widget {
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
	padding: 20px 0 15px;
	margin-bottom: 30px;
}

.meta-widget .widget-title {
	margin-left: 20px;
}

.meta-widget .nav-tabs {
	border-radius: 0;
	margin-bottom: 5px;
	border-bottom:1px solid #f2f3f5;
}

.meta-widget .nav-tabs li {
	margin-bottom: 0;
}

.meta-widget .nav-tabs li>a {
	color: #999999;
	font-size: 12px;
	border-radius: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid transparent;
	padding: 12px 20px 10px;
	text-transform: uppercase;
	background-color: #f5f8fa;
	font-weight: 500;
}

.meta-widget .nav-tabs li>a i {
	margin-right: 10px;
}

.meta-widget .nav-tabs li.active>a,
.meta-widget .nav-tabs li a:hover,
.meta-widget .nav-tabs li.active>a:focus,
.meta-widget .nav-tabs li.active>a:hover {
	color: #fff;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #ff0000;
	border-bottom: 1px solid #f2f3f5;
}

.meta-widget.meta-color a:hover {
	color: #7a559f;
}

.meta-color .nav-tabs li.active>a,
.meta-color .nav-tabs li a:hover,
.meta-color .nav-tabs li.active>a:focus,
.meta-color .nav-tabs li.active>a:hover {
	color: #fff;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #7a559f;
	border-bottom: 1px solid #f2f3f5;
}

.author-image {
	float: left;
	margin-right: 15px;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	overflow: hidden;
}

.author-image:hover img {
	opacity: .7;
}

.author-info {
	display: inline-block;
}

.author-info h2 {
	margin: 10px 0 0;
	line-height: 15px;
}

.author-info h2 a {
	color: #000;
}

.author-info a {
	text-transform: uppercase;
}

.meta-widget .tab-content li {
	padding: 15px 20px;
	border-bottom: 1px solid #f2f3f5;
}

.meta-widget .comment-list li {
	padding: 10px 20px;
}

.comment-list .entry-meta {
	text-transform: uppercase;
}

.comment-list .entry-meta span {
	margin-left: 0;
	display: block;
	margin-bottom: 5px;
}

.comment-list .entry-meta span a {
	font-weight: 700;
}

.comment-list .entry-meta li {
	padding: 5px;
	border-bottom: 0;
}

.comment-list .entry-meta li:before {
	display: none;
}

.comment-list .entry-meta li+li {
	margin-left: 0;
}

.comment-list .entry-title {
	font-size: 13px;
}

.comment-list .entry-title a {
	color: #afb1b2;
}

.meta-widget .entry-meta  {
	margin-bottom: 0;
}

.meta-widget .tab-content li:last-child {
	border-bottom: none;
}

.comment-list .author-info h2 {
	margin: 0 0 5px;
}

.meta-widget a:hover {
	color: #ff0000;
}


/* Footer */

#footer {
	background-color: #fff;
	margin-top: 80px;
}

.footer-menu {
	text-align:center;
	border-bottom:1px solid #e3e6e8;
}

.footer-menu .navbar-nav {
	display:inline-block;
	float:none !important;
	padding:25px 0 15px 0;
}

.footer-menu .navbar-nav li {
	display: inline-block;
}

.footer-menu .navbar-nav li+li {
	margin-left: 25px;
}

.footer-menu .navbar-nav li a {
	font-size:11px;
	text-transform:uppercase;
	color:#a5a7a8;
	letter-spacing:2px;
	padding:10px;
	font-weight: 700;
}

#footer .footer-menu .nav>li>a:focus,
#footer .footer-menu .nav>li>a:hover,
#footer .footer-menu .nav>li.active a {
	background-color: transparent;
	color: #000;
}

.footer-widgets {
	padding:50px 0;
	color:#a5a7a8;
}

.footer-widgets .widget {
	overflow: hidden;
}

.footer-widgets .widget h2 {
	margin-bottom:25px;
	font-size:14px;
	color: #000;
	margin-top: 10px;
	text-transform:uppercase;
}

.widget.widget-menu-2 ul li,
.widget.widget-menu-3 ul li {
	float:left;
}

.widget.widget-menu-2 ul li {
	width: 50%;
}

.widget.widget-menu-3 ul li {
	width: 33%;
}

.footer-widgets .widget li a {
	padding:5px;
	display:block;
	font-size:14px;
	color: #5e5e5e;
}

#footer a:hover,
.copyright a:hover {
	color:#ff0000;
}

.footer-bottom {
	padding: 60px 0 50px;
	border-top: 1px solid #f0f3f5;
}

.footer-bottom,
.footer-bottom a,
.copyright,
.copyright a {
	font-size: 14px;
	color: #797878;
	line-height: 23px;
}

.footer-bottom-content {
	max-width: 990PX;
	display: inline-block;
}

.footer-logo {
	margin-bottom: 40px;
}

.footer-logo img {
	display: inline-block;
}


/* Footer Style Two */

.footer-widgets-two {
	padding: 0;
}

.widget-left-content {
	padding: 70px 0;
}

.footer-widgets-two .widget {
	padding: 50px 0;
}

.footer-style-two {
	border-top: 1px solid #e3e6e8;
}

.footer-style-two .navbar-nav {
	padding: 10px 0 5px 0;
}

.copyright {
	margin-top: 10px;
}

.widget-left {
	border-right: 1px solid #e3e6e8;
}


/* Home Page Two Css */

.section-title.title-before h1 {
	margin-bottom: 15px;
}

.title-before {
	position: relative;
	padding-left: 15px;
}

.title-before:before{
	position: absolute;
	content: "";
	top: 1px;
	left: 0;
	width: 10px;
	height: 15px;
	background-color: #e81a1b;
}

.widget-title.title-before:before {
	top: 0;
}

.post-vertical .author {
    position: absolute;
    left: -60px;
    top: 15px;
    margin-top: 0;
}

.post-vertical .post-content {
	margin-top: 25px;
}

.medium-post-content {
	margin-top: 15px;
	border-top: 1px solid #f0f3f5;
}

.medium-post-content .tr-post {
	margin-top: 15px;
}

.medium-post-content .left-post {
	border-right: 1px solid #f0f3f5;
}


/* Photo Gallery Three */

.photo-gallery-three .gallery-turner {
	bottom: 10px;
}

/* Result Style Two */

.result-style-two .featured-result {
	margin: 0 15px;
}

.result-style-two .league-result {
	margin-bottom: 0;
}


/* Small Post List */

.small-post-list>li {
	border-top: 1px solid #f0f3f5;
	overflow: hidden;
	padding: 35px 15px;
}

.tr-section .small-post-list {
	margin-top: 20px;
}

.tr-section .small-post-list>li {
	margin: 0 -15px;
}

.small-post-list .entry-header {
	float: left;
	width: 75px;
	height: 75px;
	border-radius: 5px;
	margin-right: 15px;
}

.small-post-list .entry-header img {
	width: 100%;
}

.small-post-list .entry-title {
	font-size: 16px;
	margin-bottom: 0;
}

.small-post-list .entry-meta {
	margin: 5px;
}


/* Local Events */

.local-events {
	color: #afb1b2;
}

.local-events .nav-tabs {
	margin:30px 0 20px;
	border: 0;
	position: relative;
	min-height: 24px;
	display: block;
}

.local-events .nav-tabs:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: -50px;
	width: 130%;
	height: 1px;
	background-color: #f0f3f5;
}

.local-events .entry-meta>ul>li {
	margin-right: 25px;
}

.local-events .entry-meta>ul>li:last-child {
	margin-right: 0;
}

.local-events .nav-tabs>li>a {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	padding: 5px 15px;
	margin-right: 10px;
	display: inline;
}

.local-events .nav-tabs>li:last-child a {
	margin-right: 0;
}

.local-events .nav-tabs>li.active>a,
.local-events .nav-tabs>li.active>a:focus,
.local-events .nav-tabs>li.active>a:hover {
	border: none;
	background-color: #f0f3f5;
}

.local-events .entry-header {
	margin-bottom: 25px;
}

.local-events .entry-title {
	margin-bottom: 15px;
}


/* Tr Twitter */

.tr-twitter {
	padding: 45px 20px 100px;
	color: #fff;
	font-size: 16px;
	line-height: 26px;
	background-color: #00a4ed;
}

.tr-twitter a {
	color: #fff;
	font-weight: 700;
}

.tr-twitter span a {
	display: block;
}

.tr-twitter a:hover {
	color: #ff0000;
}

.tr-twitter h2 {
	margin: 0 0 35px;
	font-size: 24px;
}

.tr-twitter .twitter-icon {
	font-size: 50px;
}

.tr-twitter .carousel-indicators {
	bottom: -80px;
}

.tr-twitter .carousel-indicators li,
.tr-twitter .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 100%;
}

.tr-twitter .carousel-indicators li {
	background-color: #0072a5;
	border-color: #0072a5;
}

.tr-twitter .carousel-indicators li.active {
	border-color: #fff;
	background-color: #fff;
}

.weather-bg-color {
	background-color: #f05a1f;
}


/* Tr Details */

.tr-details {
	font-size: 14px;
	line-height: 22px;
	color: #888;
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #f0f3f5;
}

.tr-details .social {
	margin: 30px 0 20px;
}

.tr-details p {
	margin-bottom: 20px;
}

.post-inner-image {
	overflow: hidden;
	margin: 30px 0 15px;
}

.post-inner-image ul {
	max-width: 720px;
	overflow: hidden;
	display: inline-block;
}

.post-inner-image ul li {
	float: left;
	padding: 0 8px;
	overflow: hidden;
	width: 33.3%;
	margin-bottom: 15px;
}

.post-inner-image ul li img {
	border-radius: 5px;
}

.post-inner-image ul li:last-child {
	margin-right: 0;
}

.details-fulid .post-content,
.details-fulid .tr-details {
	max-width: 1030px;
	display: inline-block;
}

.details-fulid .entry-header {
	max-height: 580px;
}

.details-fulid .post-content .entry-meta ul li {
	float: none;
	display: inline-block;
}

.details-fulid .post-content .author {
	margin-left: 47%;
}


/* Tr Comment */

.tr-comment {
	margin-bottom: 30px;
}

.tr-post-tab .tr-comment {
	margin-bottom: 0;
}

.commenter-avatar {
	float: left;
	width: 45px;
	height: 45px;
	margin-right: 20px;
}

.commenter-avatar img {
	width: 100%;
	height: 100%;
}

.post-comment {
	border-radius: 5px;
	background-color: #fff;
	line-height: 22px;
	color: #888;
	font-size: 14px;
}

.post-comment li {
	padding: 30px 25px;
	border-bottom: 1px solid #f0f3f5;
}

.post-comment .media-body h2 {
	font-size: 16px;
	color: #000;
	margin: 10PX 0 20PX;
}

.post-comment .media-body h2 span {
	font-size: 14px;
	color: #999;
	margin-left: 20px;
}

.media-body .reply {
	color: #ff0000;
}

.media-body .reply:hover {
	color: #cf110d;
}

.details-2 .media-body {
	max-width: 980px;
}

/* Contact Form */

.tr-comment-box {
	margin-bottom: 30px;
	overflow: hidden;
}

.contact-form {
	background-color: #fff;
	border-radius: 5px;
	padding:30px;
	overflow: hidden;
}

.form-group label {
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.form-control {
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #ececec;
}

.form-control:focus {
	border-color: #ff0000;
}

textarea.form-control {
	height: 145px;
	resize: none;
}

.btn.btn-primary {
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	padding: 10px 30px 7px;
	border-radius: 0;
	margin-top: 10px;
	background-color: #ed1c24;
	border-color: #ed1c24;
	text-transform: uppercase;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
	background-color: rgba(237, 28, 36, 0.56);
	border-color: #ed1c24;
	outline: none;
}

.details-2 .tr-comment-box {
	margin-bottom: 80px;
}

/* Home Page Four */

.latest-news {
	background-color: #fff;
	border-bottom: 1px solid #f0f3f5;
}

.homepage-3 .section-title {
	padding: 25px 0;
	background-color: #fff;
}

.homepage-3 .section-title h1 {
	margin: 0;
	color: #000;
}

.tr-latest-news {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.tr-latest-news:before {
	position: absolute;
	content: "";
	top: 67px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eaeaea;
	z-index: -1;
}

.post-content-absolute .post-content {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px 30px;
	width: 100%;
}

.post-content-absolute .post-content {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 11%, rgba(0,0,0,0.19) 24%, rgba(0,0,0,0.69) 64%, rgba(0,0,0,0.85) 79%, rgba(0,0,0,0.97) 93%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%);
}

.post-content-absolute .catagory {
	font-size: 12px;
}

.post-content-absolute .entry-title {
	font-size: 16px;
}

.post-content-absolute .post-content a,
.tr-post.post-content-absolute .catagory a {
	color: #fff;
}

.tr-post.post-content-absolute .catagory a:hover,
.post-content-absolute .post-content a:hover,
.post-header-absolute .post-content a:hover,
.post-header-absolute .entry-meta a:hover {
	color: #d4d0d0;
}

.post-list-style-two,
.post-list-style-three {
	background-color: #fff;
}

.post-list-style-two li {
	padding: 0;
}

.post-list-style-two .entry-header {
	border-radius: 0;
	width: 100px;
	height: 90px;
	margin-right: 0;
}

.post-list-style-two .entry-title {
	font-size: 12px;
	font-weight: 500;
}

.post-list-style-two .post-content {
	padding: 20px;
}

.post-list-style-three .entry-header {
	height: 60px;
	width: 60px;
	border-radius: 0;
}

.post-list-style-three .entry-title {
	font-size: 18px;
	margin: 10px 0 5px;
}

.post-list-style-three .small-post-list {
	border-bottom: 1px solid #f0f3f5;
}

.post-list-style-three .small-post-list>li {
	padding: 20px 15px;
}

.post-list-style-two .small-post-list>li:hover,
.post-list-style-three .small-post-list>li:hover {
	background-color: #fafafa;
}


/* Tr Audio Player */

.tr-audio-player {
	text-align: center;
	position: relative;
	min-height: 540px;
}

.jp-type-playlist {
	padding-bottom: 25px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 11%, rgba(0,0,0,0.19) 24%, rgba(0,0,0,0.69) 64%, rgba(0,0,0,0.85) 79%, rgba(0,0,0,0.97) 93%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%);
}

.player-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.moment-inspiration {
	color: #fff;
	margin-bottom: 110px;
}

.moment-inspiration h2 {
	font-size: 65px;
	margin-bottom: 0;
	font-family: 'space-rangerregular';
}

.moment-inspiration h3 {
	font-size: 18px;
	font-weight: normal;
	margin-top: 0;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}


/* Entertainment Content */

.entertainment-content {
	background-color: #e7e7e7;
}

.entertainment-slider {
	padding: 40px 0;
	text-align: center;
}

.entertainment-info {
	color: #88898a;
	font-size: 12px;
	line-height: 18px;
	padding: 20px;
	background-color: #fff;
}

.entertainment-info h2 {
	font-size: 16px;
	color: #616161;
	margin: 10px 0 5px;
	text-transform: capitalize;
}

.tr-weekly-top .slick-slide {
	margin:40px 10px;
}

.tr-weekly-top .slick-slide:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	overflow: hidden;
	-webkit-box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.100);
	-moz-box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.100);
	-ms-box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.100);
	-o-box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.100);
	box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.100);
}

/* Trending News */

.tr-trending-news {
	margin-bottom: 30px;
}

.trending-news {
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	position: relative;
}

.trending-news:before,
.tr-post-tab .nav-tabs:before {
	position: absolute;
	content: "";
	top: 0;
	width: 100%;
	height: 1px;
	background-color: #cecece;
}

.trending-news:before {
	left: -100%;
}

.post-header-absolute {
	background-color: #1c1c1c;
	overflow: visible;
	z-index: 1;
}

.post-header-absolute .post-content {
    max-width: 430px;
    padding: 45px 20px;
    color: #fff;
    z-index: 1;
}

.post-header-absolute .entry-title {
	font-size: 36px;
	margin: 25px 0;
}

.trending-news .read-more {
	margin-top: 45px;
	line-height: 23px;
}

.post-header-absolute .post-content a,
.post-header-absolute .entry-meta {
	color: #fff;
}

.post-header-absolute .read-more a {
	color: #afb1b2;
}

.post-header-absolute .entry-header img {
	width: inherit;
}

.post-header-absolute:hover .entry-header img {
	opacity: 1;
}

.post-header-absolute .entry-header {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.video-post-list .entry-thumbnail {
	height: 75px;
}

.tr-watch-now {
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}

.tr-watch-now .audio-post .entry-header,
.tr-watch-now .video-post .entry-header {
	height: 317px;
}

.tr-watch-now .read-more {
	line-height: 23px;
}

.tr-watch-now .post-comment li:last-child {
	border-bottom: none;
}

.tr-watch-now .section-title {
	border-left: 1px solid #cecece;
}

.tr-watch-now .section-title h1 {
	margin-left: 30px;
}


/* Tr Post Tab */

.tr-post-tab .nav-tabs {
	background-color: #f1f1f1;
	border-top: 1px solid #cecece;
	border-bottom: 0;
	position: relative;
}

.tr-post-tab .nav-tabs:before {
	top: -1px;
	right: -100%;
}

.tr-post-tab .nav-tabs li a {
	font-size: 12px;
	color: #9c9c9c;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 5px 30px;
	text-transform: uppercase;
	position: relative;
}

.tr-post-tab .nav-tabs li a:after {
	position: absolute;
	content: "";
	bottom: 0px;
	left: 30px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #fff;
    z-index: 999;
    opacity: 0;
}

.tr-post-tab .nav-tabs>li.active>a,
.tr-post-tab .nav-tabs li a:hover,
.tr-post-tab .nav-tabs>li.active>a:focus,
.tr-post-tab .nav-tabs>li.active>a:hover {
	background-color: #fff;
	color: #616161;
	border: 0;
	border-radius: 0;
}

.tr-post-tab .nav-tabs>li.active>a:after,
.tr-post-tab .nav-tabs li a:hover:after,
.tr-post-tab .nav-tabs>li.active>a:focus:after,
.tr-post-tab .nav-tabs>li.active>a:hover:after {
	opacity: 1;
	bottom: -4px;
}


/* Post Video List */

.video-post-list>li,
.audio-post-list>li {
	padding: 20px;
}

.video-post-list .post-content {
	padding-left: 20px;
	padding-top: 8px;
}

/* Tr Live Match Score */

.tr-live-score,
.tr-stock-quotes {
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
}

.result-slider,
.quotes-slider {
	border-right: 1px solid #f0f3f5;
	border-left: 1px solid #f0f3f5;
}

.tr-live-score .live-match,
.stock-quotes {
	float: left;
	padding: 17px 15px;
	margin-bottom: 0;
	width: 14%;
}

.quotes-content,
.live-score-content {
	width: 86%;
	float: right;
	padding: 0 50px;
}

.tr-live-score span,
.stock-quotes span {
	font-size: 12px;
	color: #696969;
	margin: 0;
	text-transform: uppercase;
}

.tr-live-score span i,
.stock-quotes span i {
	margin-right: 15px;
}

.result-slider ul li {
	float: left;
	width: 33%;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Signika Negative', sans-serif;
}

.result-slider .slick-slide {
	padding: 15px 10px 10px;
}

.result-slider li a {
	color: #a6a6a6;
}

.result-slider ul li.match-result {
	display: inline-block;
	text-align: center;
	color: #000;
}

.result-slider .logo {
	width: 30px;
	height: 30px;
}

.result-slider .pull-left .logo {
	float: left;
	margin-right: 5px;
}

.result-slider .pull-right .logo {
	float: right;
	margin-left: 5px;
}

.result-slider .slick-prev,
.quotes-slider .slick-prev {
	left: -35px;
}

.result-slider .slick-next,
.quotes-slider .slick-next {
	right: -40px;
}

.result-slider .slick-prev:before,
.quotes-slider .slick-prev:before,
.result-slider .slick-next:before,
.quotes-slider .slick-next:before {
	font-size: 18px;
	color: #a6a6a6;
	font-family: fontAwesome;
}

.result-slider .slick-prev:before,
.quotes-slider .slick-prev:before {
	content: "\f104";
}

.result-slider .slick-next:before,
.quotes-slider .slick-next:before {
	content: "\f105";
}

.result-slider .slick-prev:hover:before,
.quotes-slider .slick-prev:hover:before,
.result-slider .slick-next:hover:before,
.quotes-slider .slick-next:hover:before {
	color: #ff0000;
}

.tr-live-match {
	overflow: hidden;
	margin-bottom: 20px;
}

.tr-live-match>ul>li {
	overflow: hidden;
	display: inline-block;
}

.tr-live-match .match-info {
	display: inline-block;
}

.tr-live-match .match-info h2 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
}

.tr-live-match .match-info h2 span {
	color: #878787;
}

.tr-live-match .match-info ul li {
	font-size: 12px;
	color: #878787;
	text-transform: uppercase;
}

.tr-live-match .live,
.tr-live-match .time {
	font-size: 18px;
	color: #ff0000;
	margin-top: 30px;
	min-width: 100px;
	text-transform: uppercase;
}

.homepage-4 .entry-thumbnail {
	border-radius: 3px;
	overflow: hidden;
}

/* Tr Stock Quotes */

.tr-stock-quotes {
	border-radius: 0 0 5px 5px;
}

.quotes-slider .slick-slide {
	font-size: 14px;
	color: #222629;
	text-transform: uppercase;
	padding: 15px 10px;
	border-right: 1px solid #f0f3f5;
	border-left: 1px solid #f0f3f5;
}

.quotes-slider .slick-slide span {
	display: inline-block;
	margin: 0 10px;
}

.quotes-slider .slick-slide i {
	font-size: 20px;
}

.quotes-slider .fa-caret-down {
	color: #fb1d15;
}

.quotes-slider .fa-caret-up {
	color: #4ecb43;
}

.slick-next {
	font-size: 14px;
}


/* Tr About */

.tr-section-padding {
	 padding: 65px 0;
}

.about-page .section-title h1 {
	font-size: 36px;
	color: #363636;
	text-align: center;
	margin:10px 0 40px;
}

.breadcrumb-content{
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	position: relative;
	z-index: 1;
	padding: 160px 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.breadcrumb-content {
	position: relative;
}

.about-page .breadcrumb-content {
	background-image: url(../images/about-bg.jpg);
}

.breadcrumb-content:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.6);
}

.page-title h1{
	margin-top: 0;
	font-size: 48px;
	font-weight: 700;
}

.mission-info {
	font-size: 14px;
	color: #88898a;
	line-height: 21px;
	max-width: 765px;
	display: inline-block;
	padding: 0 15px;
}

.mission-info p {
	margin-bottom: 20px;
}

.tr-services {
	margin-top: 80px;
	padding: 0 15px;
}

.tr-services h1 {
	margin-bottom: 0;
}

.tr-services .service {
	color: #88898a;
	font-size: 14px;
	line-height: 24px;
	margin: 40px 0;
}

.tr-services .service h2 {
	color: #363636;
	font-size: 20px;
	margin: 35px 0 30px;
	text-transform: uppercase;
}

.tr-team-section {
	padding: 65px 30px 40px;
}

.tr-team-section .team-info {
	font-size: 14px;
	color: #88898a;
	max-width: 740px;
	display: inline-block;
	margin-bottom: 50px;
}

.team-members>li {
	width: 20%;
	float:left;
	padding: 0 15px;
}

.team-member {
	margin-bottom:35px;
	overflow: hidden;
}

.team-member-image {
	position: relative;
}

.team-member-image img {
	width:100%;
}

.team-social {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 0, 0.66);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}

.team-members h2 {
	font-size: 20px;
	font-family: 'Signika Negative', sans-serif;
	color: #000;
	font-weight: 400;
	margin-top: 15px;
}

.team-members .social {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-left: -70px;
	margin-top: -8px;
}

.team-members .social li {
	float: left;
}

.team-members .social li a {
	font-size: 16px;
	color: #fff;
}

.team-members .social li + li {
	margin-left: 12px;
}

.team-members .social li a:hover {
	color: #00aeef;
}

.team-member:hover .team-social {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* Tr Breaking News */

.tr-news-content {
	background-color: #fff;
	margin-bottom: 30px;
}

.tr-home-slider .embed-responsive-item {
	min-height: 625px;
}

.tr-breaking-news {
	padding: 20px 45px 20px 15px;
	position: relative;
}

.tr-breaking-news .gallery-turner {
	position: absolute;
	right: 50px;
	top: 15px;
	bottom: inherit;
}

.tr-breaking-news .gallery-turner a {
	color: #222629;
	font-size: 20px;
}

.tr-breaking-news .gallery-turner a:hover {
	color: #ff0000;
}

.tr-breaking-news .title {
	margin-bottom: 40px;
}

.tr-breaking-news .title h1 {
	margin-top: 0;
}

.tr-breaking-news .entry-meta {
	margin: 15px 0 0;
}

.tr-breaking-news .title h1 {
	font-size: 23px;
	color: #222629;
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e9e9;
}

.tr-breaking-news .post-content {
	font-size: 14px;
	color: #88898a;
}

.tr-breaking-news .tr-post {
	margin-bottom: 30px;
	border-radius: 0;
}

.tr-post .catagory {
	font-size: 12px;
	font-weight: 500;
}

.tr-post .catagory a {
	color: #ff0000;
}

.tr-post .catagory a:hover {
	color: #cf110d;
}

.tr-breaking-news .entry-title {
	color: #222629;
	max-width: 0px 0 10px;
}

.homepage-5 .entry-title {
	margin: 10px 0;
}

.entry-meta span {
	margin-left: 10px;
}

.homepage-5 .entry-meta {
	margin-top: 20px;
}

.homepage-5 .entry-meta ul li a {
	font-size: 14px;
}


/* Tr Text Post */

.homepage-5 .tr-post {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
}

.homepage-5 .tr-video-post .entry-header {
	height: 350px;
}

.homepage-5 .entry-meta>ul>li+li:before {
	display: none;
}

.tr-text-post {
	padding: 40px 20px;
}

.tr-post.bg-color-1 {
	background-color: #f05a1f;
}

.tr-post.bg-color-2 {
	background-color: #009f92;
}

.tr-post.bg-color-3 {
	background-color: #0067b3;
}

.tr-post.bg-color-4 {
	background-color: #fb1d15;
}

.tr-post.bg-color-5 {
	background-color: #5b2886;
}

.tr-text-post .catagory {
	font-size: 10px;
	font-weight: 700;
}

.tr-text-post .post-content,
.tr-text-post .catagory a,
.tr-text-post  a {
	color: #fff;
}

.tr-text-post  a:hover,
.tr-text-post .catagory a:hover {
	color: #d4d0d0;
}

.tr-text-post .catagory {
	margin-top: 10px;
	padding-bottom: 20px;
	overflow: hidden;
	display: block;
}

.tr-text-post .tr-after:after {
	width: 20px;
	height: 3px;
	background-color: #fff;
}

.tr-text-post .entry-title {
	margin: 25px 0 20px;
}

.more-posts-button .btn.btn-primary {
	font-size: 14px;
	color: #262b2e;
	font-weight: 700;
	padding: 10px 25px;
	margin-top: 50px;
	border: 2px solid #dbdee0;
	background-color: transparent;
	font-family: 'Raleway', sans-serif;
}

.more-posts-button .btn.btn-primary:hover {
	background-color: #fff;
}

.tr-audio-post,
.tr-video-post {
	margin-bottom: 30px;
}

.tr-audio-post .entry-header,
.tr-video-post .entry-header {
	height: 200px;
	border-right: 5px;
	overflow: hidden;
}


/* Page Content */

.account-content .navbar-brand,
.error-page-content .navbar-brand {
	float: none;
	padding: 0;
	margin-bottom: 35px;
	display: inline-block;
}

.account-content .navbar-brand img,
.error-page-content .navbar-brand img {
	display: inline-block;
}

.ragister-account .section-title h1 {
	font-size: 18px;
	display: block;
	overflow: hidden;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
}

.account-content,
.error-page-content {
	width: 285px;
	display: inline-block;
	overflow: hidden;
}

.ragister-account .contact-form {
	padding: 0;
}

.ragister-account .contact-form .form-control {
	font-size: 12px;
	color: #2d2d2d;
	border-color: #ebeef0;
	text-transform: uppercase;
	background-color: #f0f3f5;
	margin-bottom: 10px;
}

.ragister-account .contact-form .form-control:focus {
	border-color: #ebeef0;
	background-color: transparent;
}

.account-content .btn.btn-primary,
.error-page-content .btn.btn-primary {
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	border-radius: 3px;
	padding: 9px 30px 7px;
	text-transform: uppercase;
}

.ragister-account .contact-form .btn.btn-primary.facebook {
	border-color: #0067b3;
	background-color: #0067b3;
}

.ragister-account .contact-form .btn.btn-primary.facebook:hover {
	background-color: rgba(0, 103, 179, 0.7);
}

.ragister-account .contact-form .btn.btn-primary.twitter {
	border-color: #00a4ed;
	background-color: #00a4ed;
	margin-bottom: 20px;
}

.ragister-account .contact-form .btn.btn-primary.twitter:hover {
	background-color: rgba(0, 164, 237, 0.55);
}

.ragister-account .contact-form span {
	font-size: 12px;
	color: #a9abae;
	display: block;
}

.options {
	overflow: hidden;
	margin-top: 100px;
}

.options li a {
	color: #000;
}

.options li a:hover {
	color: #ff0000;
}

.options li a span {
	color: #e81a1b;
	margin-left: 10px;
}

input[type="radio"]+label {
	cursor: pointer;
	padding-left:25px;
	vertical-align:sub !important;
	position:relative;
	color:#838383;
	margin-bottom:0;
	font-weight: 400;
}

input[type="radio"] {
	display:none;
}

input[type="radio"] + label:before {
	position:absolute;
	top:2px;
	left:0;
	content:"";
	width:16px;
	height:16px;
	font-size: 18px;
	line-height: 17px;
	border-radius:100%;
	display:inline-block;
	background-color: #d7dadb;
}

input[type="radio"]:checked + label:before {
	content:"\f058";
	color: #41454f;
	font-size: 18px;
	line-height: 17px;
	font-family: fontAwesome;
	background-color: transparent;
}

.form-control::-webkit-input-placeholder {
   color: #2d2d2d;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #2d2d2d;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #2d2d2d;
}

.form-control:-ms-input-placeholder {
   color: #2d2d2d;
}

.not-found {
	font-size: 14px;
	color: #010101;
	font-weight: 500;
}

.not-found h1 {
	font-size: 72px;
	font-weight: 500;
	margin-bottom: 0;
}

.not-found .btn.btn-primary {
	margin-top: 80px;
}

/* Tr Contact */

.contact-page .breadcrumb-content {
	background-image: url(../images/contact-bg.jpg);
}


/* Tr Cta */

.tr-contact-section li {
	width: 33%;
	text-align: center;
	float: left;
	padding: 15px;
}

.tr-contact-section .contact-content {
	padding: 30px 0;
	overflow: hidden;
}

.tr-contact-section li span,
.tr-contact-section li span a {
	font-size: 16px;
	color: #5b5b5b;
	font-weight: 300;
	display: block;
}

.tr-contact-section li span a:hover {
	color: #ff0000;
}

.tr-contact-section li img {
	display: inline-block;
}

.tr-contact-section .icon {
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 100%;
	display: inline-block;
	margin-bottom: 25px;
	border: 1px solid #e3e3e3;
}

.tr-contact-section li:hover .icon {
	background-color: #e3e3e3;
}

.tr-comment-box.style-two {
	padding: 40px 0;
}


/* ==========================================================================
 	Extra Css
 ========================================================================== */

a, .navbar-default li a i,
.carousel-indicators li,
.gallery-indicators li img, .overlay,
.entry-header img, .post-content .author img,
.feed a:hover i, .entertainment-slider li,
.owl-next, .owl-next, .small-post-list>li,
.nav-tabs li a:hover:after, .slick-prev,
.slick-next, .slick-prev:before,
.slick-next:before, .btn.btn-primary,
.tr-box-shadow, .form-control, .icon,
.catagory-list ul li a i,
.mfp-content {
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}

/* Font */

@font-face {
    font-family: 'space-rangerregular';
    src: url('../fonts/spaceranger-webfont.woff2') format('woff2'),
         url('../fonts/spaceranger-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.tr-hamburger {
	float: left;
	display: block;
	color: #fff;
	position: relative;
	overflow: hidden;
	margin: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.tr-hamburger:hover,
.tr-hamburger:focus {
	color: #fff;
}

.tr-hamburger:focus {
  outline: none;
}

.tr-aside-menu {
	float: left;
	padding: 5px;
	margin-right: 15px;
}

.aside-menu {
  padding: 0px 20px;
  width: 230px;
}

.aside-menu li a {
	padding: 5px;
}

.aside-menu .mfp-close {
	cursor: pointer;
	top: 15px;
	right: 15px;
	width: 15px;
	height: 15px;
	padding: 0;
	background-image: url(../images/others/close.png);
	background-size: contain;
	background-position: center;
}

.mfp-fade.mfp-bg,
.mfp-slide-left.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mfp-bg.asd-menu {
  background-color: rgba(0, 0, 0, 0.6);
}

.asd-menu .mfp-container {
  padding: 0;
  text-align: left; }

.asd-menu .mfp-content {
  background-color: #fff;
  width: auto;
  min-height: 100%;
  vertical-align: top;
}


.mfp-slide-left.mfp-bg.mfp-ready {
  opacity: 1;
}


.mfp-slide-left.mfp-bg.mfp-removing {
  opacity: 0;
}


.mfp-slide-left.mfp-wrap .mfp-content {
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
  transform: translateX(-100px);
}


.mfp-slide-left.mfp-wrap.mfp-ready .mfp-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}


.mfp-slide-left.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
